In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [25]:
combats = pd.read_csv("./combats.csv")

In [26]:
combats.head()

   Winner  First_pokemon  Second_pokemon
0     650            650             579
1     151            151             558
2     340            340             631
3     139            688             139
4     132            365             132

In [29]:
train, test = train_test_split(combats, test_size=0.25)

In [30]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)