In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
combats = pd.read_csv("./combats.csv")

In [5]:
combats

       First_pokemon  Second_pokemon  Winner
0                266             298     298
1                702             701     701
2                191             668     668
3                237             683     683
4                151             231     151
...              ...             ...     ...
49995            707             126     707
49996            589             664     589
49997            303             368     368
49998            109              89     109
49999              9              73       9

[50000 rows x 3 columns]

In [6]:
train, test = train_test_split(combats, test_size=0.25)

In [7]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)