In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [10]:
combats = pd.read_csv("./combats.csv")

In [11]:
combats

       Winner  First_pokemon  Second_pokemon
0         650            650             579
1         151            151             558
2         340            340             631
3         139            688             139
4         132            365             132
...       ...            ...             ...
39995     608            608             403
39996     149            761             149
39997     740            740             320
39998     465            465             536
39999     350            350             525

[40000 rows x 3 columns]

In [12]:
train, test = train_test_split(combats, test_size=0.2, random_state=20)

In [13]:
train.to_csv("train.csv", index=False)
test.to_csv("test.csv", index=False)